@model WebApplication1.Models.DeleteRoleVM
@{
    ViewData["Title"] = "DeleteRole";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Delete Role</title>
    <!-- Favicon-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body class="signup-page">
    <div class="signup-box">

        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Back To Roles</a>
        <div class="card">
            <div class="body">

                <form asp-controller="Admin" asp-action="DeleteRole" method="POST">
                    <div class="msg">Delete Role</div>
                
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                          <div class="form-line">
                          <input type="text" class="form-control" readonly asp-for="Id">
                           
                        </div>
                        <div class="form-line">
                            <input type="text" class="form-control" readonly asp-for="RoleName">
                          
                        </div>
                    </div>



                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>


</body>

</html>




