@model WebApplication1.Models.EditRoleVM
@{
    ViewData["Title"] = "EditRole";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Edit Role</title>
    <!-- Favicon-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body class="signup-page">
    <div class="signup-box">

        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Back To Roles</a>
        <div class="card">
            <div class="body">

                <form asp-controller="Admin" asp-action="EditRole" method="POST">
                    <div class="msg">Edit Role</div>
                    <div asp-validation-summary="All"></div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" readonly asp-for="Id">
                           
                        </div>
                        <div class="form-line">
                            <input type="text" class="form-control" placeholder="Enter Role Name" asp-for="RoleName">
                            <div><span asp-validation-for="RoleName" class="text-danger"></span></div>
                        </div>
                    </div>



                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">Edit</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/plugins/node-waves/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- Custom Js -->
    <script src="~/js/admin.js"></script>
    <script src="~/js/pages/examples/sign-up.js"></script>
</body>

</html>


